
.grid {
  height: 450px;
  width: 450px;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  border: 1px solid black;
}
.square {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputNumber {
  width: 20px;
  font-size: 1.8em;
  border: 0px;
}

.bad {
  background-color: red;
}
